# Core Framework
Flask==3.1.2
flask-cors==6.0.1

# Database & Authentication
supabase==2.10.0
gotrue==2.10.0

# Configuration
python-dotenv==1.1.1

# Production Server
gunicorn==23.0.0

# Email validation for Pydantic
email-validator==2.1.0

# Swagger stuff
flasgger==0.9.7.1 

#JWT
PyJWT==2.9.0
